{% extends "base.html" %}
{% block title %}Skills{% endblock %}
{% block content %}
<div class="contact">
    <h1>Contact Me 📞</h1>
    <p>Want to chat or connect? Drop your email and message below. <em>(I'm also on the lookout for internship opportunities!)</em></p>
    <div class="mb-3">  
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-light">Send</button>
</div>

{% endblock %}